/*header css  */
html { 
  background: url(../images/plain.jpg) no-repeat center center fixed; 
  background-size: cover;
} 

header {
  margin: 20px;
  border: 1px solid black;
  background-color: #b1dbf7;
}
h1 {
  font-size: 24px;
  text-align: center;
}

h3 {
  font-size: 11px;
  text-align: center;
}
/*main nav css*/
#nav {
  display: flex;
  margin-left: 20px;
}

.icon-menu {
  font-size: 15px;
  border: 1px solid black;
  background-color: #fbecac;
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked + #main-menu {
  max-height: 110px;
}

.main-nav .icon-menu:hover + ul {
  display: flex;
}

.main-nav ul {
  display: left;
  flex-direction: column;
  list-style-type: none;
  color: black;
}


#main-menu {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s;
  padding: 0;
  margin: 0;
}

li {
  margin: auto;
  color: black;
  font-size: 13px;
  padding: 10px;
}

.main-nav a {
  padding: 5px;
  font-size:  13px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

#nav-sections {
  display: flex;
}

button {
  background-color: transparent;
  text-align: center;
}


/*create account*/

.account {
  float: right;
  display: flex;
  font-size: 15px;
  margin-right: 20px;
  border: 1px solid black;
  background-color: #fbecac;
}

.create-account {
  padding: 30px;
}

.create-account input {
  display: left;
  flex-direction: column;
  list-style-type: none;
  color: black;
}

#form-toggle {
  display: none;
}
#form-toggle:checked + #account-form {
  max-height: 250px;
}

#create-account .account:hover + form {
  display: flex;
}

#account-form {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s;
  padding: 0;
  margin: 0;
}

.create-account {
  text-align: center;
}

input#account-submit {
    font-size: 15px;
}

/*form css*/

form {
  text-align: center;
}

input[type=text] {
  width: 69%;
  height: 6px;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid black;
    /* box-sizing: border-box; */
}

label  {
  font-size: 30px;
}

input {
  font-size: 15px;
  text-align: center;
}

/*checkbox options*/
form#checkbox-options {
    display: flex;
    font-size: 20px;
    justify-content: center;
}

form#checkbox-options label {
  font-size: 19px;
  float:left;
}

form#checkbox-options input {
  font-size: 19px;
  float:left;
}

#options {
  margin-top: 10%
}

#options h5 {
  text-align: center;
}
