
html {
    background: url(../images/mountains.png) no-repeat center center fixed;
    background-size: cover;
}

h1 {
  font-size: 50px;
  text-align: center;
}

h3 {
  font-size: 14px;
  text-align: center;
}

.filter-categories {
    list-style-type: none;
}

table {
  max-width: 90%;
  text-align: center;
  margin: auto;
}

#see-results {
  
}
footer {
   bottom: 0;
   width: 100%;
}
section.results-box {
    border-style: ridge;
}
section.button {
    display: inline;
}
button {
    position: absolute;
}
section.div {
    display: inline;
}

a2a_kit a2a_kit_size_32 a2a_default_style {
    position: absolute;
    display: inline;
}

#allTypes {
    height: 200px;
    width: 200px;
    background: lightblue;
}
